/* Base Styles -------------------- */
 * {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    color: #FAF5F2;
    text-decoration: none;
    text-align: center;
}

.container {
    margin: 0 auto;
}

body {
    background: url(img/pdx-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color:#FAF5F2;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-top: 50px;
    padding: 60px;
    line-height: 4rem;
}

h2 {
    font-size: 40px;
    color: #FAF5F2;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin: 60px 150px;
    padding: 43px 0;
}

h4 {
    font-size: 20px;
    padding: 20px;
}

.logo {
    position: absolute;
    top: 6px;
    left: -171px;
    opacity: .6;
}

.logo img {
    height: 15%;
    width: 15%;
}

.quiz, .summary, 
.quizFinish {
    display: none;
}

.wrong-answer {
    font-size: 20px;
    margin-top: 60px;
}

.answer {
    cursor: pointer;
}

.score-status {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .5);
    margin: 0 auto 20px;
    padding-bottom: 20px;
    width: 350px;
    font-size: 30px;
}

.score-status h4 {
    font-size: 25px;
}

.score-status p {
    font-size: 25px;
}

.summary-text, .summary-text p {
    font-size: 20px;
    margin: 20px auto;
    padding: 0 60px;
}


/* Button Styles */

.submit-answer, a {
    color: black;
    margin: 50px auto;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #0069ed;
    color: #FAF5F2;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.submit-answer:hover, .submit-answer:focus, a:hover, a:focus {
    background: #0053ba;
}

.submit-answer:focus, a:focus {
    outline: 1px solid #FAF5F2;
    outline-offset: -4px;
}

.submit-answer button:active {
    transform: scale(0.99);
}


/* Form Styles */
.form {
    max-width: 500px;
    margin: 60px auto;
}

.form-answer {
    display: block;
    box-sizing: border-box;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .5);
    width: 100%;
    margin: 10px 1% 10px 0;
    padding: 6px;
    height: 50px;
    text-align: left;
}

label {
    color: #FAF5F2;
    cursor: pointer;
    font-size: 30px;
}

/* Input Style */
input[type="radio"] {
    position: relative;
    top: -4px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Media Queries */

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .start a {
        padding: 1rem 2rem;
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        margin: 70px 50px 0px;
        padding: 10px;
        font-size: 25px;
    }

    .form {
        max-width: 350px;
        margin: 60px auto;
    }
    
    .form-answer {
        display: block;
        box-sizing: border-box;
        width: 90%;
        margin: 10px 1% 10px 17px;
        padding: 14px;
        height: 50px;
        text-align: left;
    }
    
    label {
        font-size: 20px;
    }

    .submit-answer, a {
        margin: 20px auto;
    }

    div.score-status {
        margin-bottom: 20px;
        width: 50%;
    }

    .score-status h4 {
        font-size: 20px;
    }

    p.summary-text, .summary-text {
        font-size: 20px;
        padding: 0 20px;
        margin: 10px auto;
    }
}

