 * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    text-align: center;
}

body {
    background: url(img/pdx-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Basic Styles */
h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 50px;
    padding: 60px;
}

h2 {
    font-size: 30px;
    margin: 60px 150px;
}

h4 {
    font-size: 20px;
    padding: 20px;
}

.quiz, .summary, .correctGuess, .incorrectGuess, 
.quizFinish, #flashMessageCorrect,
#flashMessageIncorrect {
    display: none;
}

.wrong-answer {
    font-size: 20px;
    margin-top: 60px;
}

.answer {
    cursor: pointer;
}

.score-status {
    background-color: black;
    opacity: .5;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 50%;
    font-size: 30px;
}

.score-status h4 {
    font-size: 25px;
}

.score-status p {
    font-size: 25px;
}

.correct {
    background-color: #28a745;
    width: 50%;
    margin: 60px auto;
}

.incorrect {
    background-color: #dc3545;
    width: 50%;
    margin: 60px auto;

}

.summary-text, .summary-text p {
    font-size: 20px;
}

/* Button Styles */

.submit-answer, a, .next-question {
    color: black;
    margin: 50px auto;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 30;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.submit-answer:hover, .submit-answer:focus, a:hover, a:focus {
    background: #0053ba;
}

.submit-answer:focus, a:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.submit-answer button:active {
    transform: scale(0.99);
}


/* Form Styles */
.form {
    max-width: 450px;
    margin: 60px auto;
}

.form-answer {
    display: block;
    box-sizing: border-box;
    background-color: black;
    opacity: .5;
    width: 100%;
    margin: 10px 1% 10px 0;
    padding: 14px;
    height: 50px;
    text-align: left;
}

label {
    color: white;
    cursor: pointer;
    font-size: 20px;
}

/* Input Style */
input[type="radio"] {
    position: relative;
    top: -2px;
    margin-right: 20px;
    margin-left: 20px;
}

